@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Form</h1>
     <h5 class="display-8 mt-3">Click on Employee Menu to Enter New Employee Record</h5>
</div>
